.portfolios{

}
.portfolio .portfolio-img{

}
.portfolios img{
  width: 100%;
}

.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.p-1{
  padding: 0.5rem;
}
.p-2{
  padding: 1rem;
}
.p-3{
  padding: 1.5rem;
}
.rounded-base{
  border-radius: 1rem;
}