:root {
  --color-pry: rgba(52, 122, 183, 0.5);
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #fb5;
  --color-orange: #ff4500;
  --color-theme: rgba(255, 69, 0, 1);
  --color-theme-variant: rgb(20, 56, 80);
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-light-grey: rgb(216, 220, 226);
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #135092;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radium-3: 1.2rem;
  --card-padding: 0.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "poppins";
}
/** CALL TO ACTIONS **/
.pattern {
  color: white;
  padding: 60px 0px;
  background: linear-gradient(#21252fda, #21252fda), url(../public/images/pattern.jpg);

}

/* * {
  box-sizing: border-box;
} */
.dashboard {
  position: relative;
  display: flex;
  background: var(--color-background);
}
.dashboard .title {
  background: linear-gradient(#323746, #505461);
}
.dashboard .main-content {
  flex: 1;
  height: 100vh;
  overflow-x: auto;
}
.dashboard .card:hover {
  box-shadow: 0 0 3px 0 green;
}
.text-right {
  text-align: right;
}
.overflow-auto {
  overflow: auto;
}

.portfolios a.btn,
.decoration-none {
  text-decoration: none;
}

/* ==========================text color================================ */

.dashboard aside {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.dashboard aside ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  /* background: #000; */
}
.dashboard aside a:hover,
.dashboard aside a.active {
  background-color: rgba(52, 122, 183, 0.5);
}
.dashboard aside .bottom {
  border-top: 1px solid gray;
  /* background-color: red; */
}

.tran-card {
  height: 260px;
  box-shadow: 0 0 2px gray;
}
.tran-card:hover {
  background: #ebebeb;
}

.user-dashboard aside ul li {
  padding: 0.3rem;
}
.dashboard .logo {
  margin-top: 3rem;
}
.icon {
  font-size: 26px;
}
.modal-container {
  position: fixed;
  left: 0;
  height: 100vh;
  top: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}
.modal-container.show-modal {
  opacity: 1;
  pointer-events: all;
  z-index: 999;
}

.modal-info {
  width: 50%;
  min-height: 100px;
  padding-bottom: 4rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
}
.modal-info .close-icon {
  padding-right: 1rem;
  padding-top: 1rem;
}

.slick-slide > div {
  margin-right: 1rem;
}

aside .dash-logo {
  width: 100%;
  height: 100px;
  margin-top: 2rem;
}
aside .dash-logo a {
  height: 100%;
}
aside .dash-logo img {
  height: 100%;
}
.portfolios img {
  width: 100%;
}
.w-08 {
  width: 70%;
}

.barc input:focus {
  outline: none;
  /* background-color: red; */
  border: none;
}

.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background: transparent;
}
/* .bg-white */



.font-semibold {
  font-weight: 600;
}

.scanner-ing {
  width: 130px;
  height: 130px;
}

.w-max-800 {
  width: 100%;
  max-width: 800px;
}
.w-max-1450 {
  width: 100%;
  max-width: 1450px;
}
.btn {
  background-color: #0b2c62;
  border-radius: 8px;
  color: white;
}
.btn-primary {
  display: block;
  background-color: #4fba6f;
  border-radius: 8px;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #0b2c62;
  border: 1px solid #0b2c62;
}
.max-content {
  width: max-content;
}
.box-shadow {
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}
.property-display {
  width: 100%;
}
.property-display .property-img {
  /* max-width: 800px; */
  width: 100%;
  height: 400px;
}
.asset-details {
}
.property-img img {
  width: 100%;
  object-fit: contain;
}

.portfolio-img {
  height: 200px;
}
.portfolio-img img {
  height: 100%;
  width: 100%;
}

.aside {
  height: 80vh;
}


.text-center {
  text-align: center;
}
@media only screen and (max-width: 990px) {
  .sub-menu {
    width: 100%;
    position: relative !important;
  }
}
@media only screen and (max-width: 900px) {
  .md-bg-blue-light {
    background: rgb(58, 58, 159);
  }
  .md-bg-gray-dark {
    background: #323746;
  }
  .sub-menu {
    width: 100%;
    position: relative !important;
  }
}
.social-icons.circle li a{

@apply text-gray-200;
}