
.dashboard{
	position: relative;
	display: flex;
	min-height: 100vh;
	background-color: white
}

.dashboard .main-content{
	flex: 1;
	height: 100vh;
	overflow-x: auto;
}
.fixed{
	position: fixed;
}
.relative{
	position: relative;
}.absolute{
	position: absolute;
}
.dashboard aside{

	max-width: 300px;
	width: 100%;
	height: 100vh;
	padding: 1rem;
}
.bg-blue{
	background: blue;
}
.dashboard aside ul{
	margin-top: 3rem;
	background: white;
}
.dashboard aside ul li{

	padding: 1rem;
	border-bottom: 1px solid gray;

}
.dashboard .logo{
	margin-top: 3rem;
}
.dashboard aside .nav-list{
	margin-top: 6rem;
}
.dashboard .grid{
	display: grid;
	padding: 2rem;
}

.text-xs{
	font-size: 12px;
}
.text-sm{
	font-size: 14px;
}.text-base{
	font-size: 16px;
}.text-lg{
	font-size: 18px;
}.text-xl{
	font-size: 20px;
}
.text-2xl{
	font-size: 22px;
}

.font-normal{
	font-weight: 400;
}
.font-medium{
	font-weight: 500;
}
.font-semibold{
	font-weight: 600;
}
.font-bold{
	font-weight: 700;
}
.grid{
	display: grid;
}
.grid-3{
	grid-template-columns: 1fr 1fr 1fr;


}
.grid-2{
	grid-template-columns: 1fr 1fr;


}
.p-2{
	padding: 2rem;
}
.p-4{
	padding: 4rem;
}
.p-1{
	padding: 0.5rem;
  }
  .p-2{
	padding: 1rem;
  }
  .p-3{
	padding: 1.5rem;
  }
  .p-4{
	padding: 2rem;
  }
  .p-5{
	padding: 2.5rem;
  }
  .p-6{
	padding: 3rem;
  }
  .px-1{
	padding: 0.5rem;
  }
  .px-2{
	padding: 1rem;
  }
  .px-3{
	padding: 1.5rem;
  }
.px-4{
	padding-left: 4rem;
	padding-right: 4rem;
}
.py-1{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-2{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-3{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-4{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.my-1{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.form-card{
	padding: 1rem;
	border-radius: 0.6rem;
}
.gap-1{
gap: 1%;
}
.gap-2{
	gap: 2%;
	}
.dashboard .grid > div{
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
.dashboard .top-details{
	margin-top: 3rem;
	width: 100%;
	min-height: 150px;
	padding: 30px 10px ;
	/* border: 1px solid gray; */

}
.dashboard .cards .card{
	padding: 1rem;
}
.bg-green{
	background-color: green !important;
}
.bg-blue-light{
	background-color: rgb(68, 68, 230) !important;
}
.bg-gray-light{
	background-color: rgb(205, 205, 205) !important;
}
.bg-gray-light-trans{
	background-color: rgba(205, 205, 205, 0.6) !important;
}
.bg-gray-dark{
	background: #323746;

}
.bg-gray-dark-trans{
	background: rgba(51, 56, 72, 0.7)

}
.bg-gray-light{
	background: #5f636e;

}

.border{
	border: 1px solid gray
}
.modal-container{
	position: absolute;
	left: 0;
	height: 100vh;
	top: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}
.modal-container.show-modal{
	opacity: 1;
	pointer-events: all;
  	z-index: 999;
}


.modal-info{
	width: 50%;
	min-height: 100px;
	padding-bottom: 4rem;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.5) ;
}
.modal-info .close-icon{
	padding-right: 1rem ;
	padding-top: 1rem;
}
.h-full{
  height: 100%;
}
.block {
	display: block;
}
.primary-text{
	color: #062E62;
}
.flex{
	display: flex;
}
.bg-red{
	background-color: red;
}
.bg-yellow{
	background-color: yellow;
}
.bg-blue{
	background-color: blue;
}

.overflow-hidden{
	overflow: hidden;
}

aside .dash-logo{
  /* background-color: blue; */
  width: 100%;
  height: 100px;
  margin-top: 2rem;
}
aside .dash-logo a{
	height: 100%;

}
aside .dash-logo img{
  height: 100%;

}
.portfolios img{
  width: 100%;
}

.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}
.items-center{
  align-items: center;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}

.rounded-base{
  border-radius: 1rem;
}
.text-lg{
  font-size: 18px;
}
.text-xl{
  font-size: 20px;
}
.font-semibold{
  font-weight: 600;
}
.w-3-4{
  max-width: 1500px;
}
.m-h-300{
  min-height: 300px;
}
.h-screen{
	min-height: 100vh;
}
.w-full{
  width: 100%;
}
.w-max-800{
  width: 100%;
  max-width: 800px;
}
.btn{
  background-color: #0B2C62;
  border-radius: 8px;
  color: white;
}
.btn.cancel{
  background-color: #989898;
  border-radius: 8px;
  color: white;
}
.status{
	background-color: rgb(52, 109, 52);
	border-radius: 8px;
	color: white;
	padding: 1rem;
	text-align: center;
	font-weight: 500;
}
.status.cancel{
	background-color: #989898;
	border-radius: 8px;
	color: white;
}

.btn:hover{
  background-color: white;
  color: #0B2C62;
  border: 1px solid #0B2C62;
}

.box-shadow{
	box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
}
.cursor-pointer{
  cursor: pointer;
}
.property-display{
  width: 100%;
}
.property-display .property-img{
  max-width: 800px;
  width: 100%;
}
.asset-details{

}
.property-img img{
	width: 100%;
}
@media only screen and  (max-width: 900px) {
	.md-bg-blue-light{
		background: rgb(58, 58, 159);

	}
	.md-bg-gray-dark{
		background: #323746;

	}
	.sub-menu{
		width: 100%;
	}
}